<%- include('./partials/head'); -%>

	<body>
		<%- include('./partials/nav'); -%>

		<header>
			<div class="book">
				<img src="/assets/images/book.png" alt="book image">
			</div>
			<div class="headings">
				<h2>F-Book Recommendations</h2>
				<h3>By @Famil-20</h3>
				<a href="/books" class="btn">View Recommendations</a>
			</div>
		</header>

	</body>

	<%- include('./partials/footer'); -%>