<%- include("./partials/head") %>

    <body>
        <%- include("./partials/nav") %>
            <div class="not-found content">
                <p>404 - NOT FOUND</p>
            </div>
    </body>
    <%- include("./partials/footer") %>